<%= stylesheet_link_tag 'navigation', media: 'all' %>
<div id='top_navigation' class='horizontal_navigation'>
  <ul>
    <li><a href="default.asp"></a></li>
    <li><a href="news.asp">News</a></li>
    <li><a href="contact.asp">Contact</a></li>
    <li><a href="about.asp">About</a></li>
  </ul>
</div>
