<%= stylesheet_link_tag 'about_us', media: 'all' %>
<div id='about_us'>
  <div class='article_container'>
    <div class='article_picture'>
      <%= image_tag 'article_picture'%>
    </div><!--End Article Picture-->
    <div class='aritcle'>
      <div class='paragraph_container' data-aos='fade-down' >
        <h3>關於我們</h3>
        <p>位於新北市土城區，秉持著對品質的堅持，以人為本，我們提供更客製、專業、全面的服務，專營各式機母、機具，並提供完整的售後服務教學，滿足您的所有需求，是中小企業與加工廠最好的夥伴。
            </br></br>美好生活的開端，人們的生活中充滿著無數的器具、用品及必需品，食衣住行都脫離不開他們的存在，我們的機械產出這些生活用品，創造更舒適、便捷、美好的生活，如同陽光的存在一般，照亮人們的生活。</p>
      </div>
    </div><!--End Article -->
  </div> <!--End Article Container-->
  <div class='picture_container'>
    <%= image_tag 'about_us_picture'%>
  </div> <!--End Picture Container-->
</div><!-- End About US-->
