<%= stylesheet_link_tag 'file_download', media: 'all' %>
<div id='file_download'>
  <div class='file_download_container' data-aos='fade-down'>
    <h4><%= t('download_page.download_catelog')%></h4>
    <span>Download CSL210V catalogs:</span>
    <span>Download CSL210V catalogs:</span>
    <span>Download CSL210V catalogs:</span>
    <span>Download CSL210V catalogs:</span>
  </div><!--End File Download Container-->
</div><!-- End File Download-->
