<div id='adv_block'>
  <div id='home_string_logo' >
    <%=image_tag('home_adv_string')%>
  </div><!--End home string logo-->
  <div id='home_adv_product'>
    <%=image_tag('home_adv_product')%>
  </div><!--End home admin product-->
</div><!--End Home ADV-->
