<%= stylesheet_link_tag 'product_detail', media: 'all' %>
<div id='product_detail'>
  <div class='products'>
    <div class='product_pic'>
      <img src='https://placeholdit.imgix.net/~text?txtsize=77&txt=930%C3%97400&w=930&h=400'/>
    </div><!--End Product Picture -->
    <div class='product_info'>
       <div class='product_name' data-aos="fade-up"><span>CSM36V</span></div>
       <div class='product_link'><div><a href='#'>觀看更多產品細節</a></div></div>
    </div><!--End Product Info -->
  </div><!--End Product Block -->
  <!--Products Example Need to use Iterator. This is just an example-->
  <div class='products'>
    <div class='product_pic'>
      <img src='https://placeholdit.imgix.net/~text?txtsize=77&txt=930%C3%97400&w=930&h=400'/>
    </div><!--End Product Picture -->
    <div class='product_info'>
       <div class='product_name' data-aos="fade-up"><span>CSM36V</span></div>
       <div class='product_link'><div><a href='#'>觀看更多產品細節</a></div></div>
    </div><!--End Product Info -->
  </div>
  <!--End example-->
</div><!--End Product Detail-->
