<div id='container'>
  <%= render 'shared/navigation'%>
  <%= render 'shared/advertisement_slider'%>
  <div id='sub_container'>
    <div id='product_detail'>
    </div><!-- End Product Detail-->
    <div id='about_us'>
    </div>
    <div id='file_download'>
    </div>
    <%= render 'shared/footer'%>
  </div><!-- End Sub Container-->
</div><!-- End Container-->
