<%= stylesheet_link_tag 'home', media: 'all' %>
<div id='container'>
  <%= render 'shared/navigation'%>

  <div id='home_adv'>
  </div><!--Home ADV-->

  <div id='sub_container'>

    <div id='product_detail'>
    </div><!-- End Product Detail-->

    <div id='about_us'>
    </div><!-- End About US-->

    <div id='file_download'>
    </div><!-- End File Download-->
    <%= render 'shared/footer'%>
  </div><!-- End Sub Container-->
</div><!-- End Container-->
