<div id='adv_block'>
  <div class='cover'>
    <div id='adv_string_logo'>
      <div class='icon'>
        <%= svg('horizontal_icon')%>
      </div>
      <span class='nav_title'><%= t('navigation.news')%></span>
    </div><!--End Adv String Logo-->
    <div id='scroll_down_icon_container'>
      <span><%= t('scrolldown')%></span>
      <%=svg('scrolldown_icon')%>
    </div><!--End Scroll Down Icon Container-->
  </div>
</div><!--End Adv Block-->
