<div id='adv_block'>
  <div class='cover'>
    <div id='adv_string_logo'>
      <div class='icon'>
        <%= svg('horizontal_icon')%>
      </div>
      <span class='nav_title'><%= t('navigation.news')%></span>
    </div>
  </div>
</div><!--End Adv Block-->
