<div id='adv_block'>
  <div class='cover'>
    <div id='adv_string_logo'>
      <div class='icon'>
        <article>
          <p>We put a lot of effort<br/> into our product <p>
        </article>
      </div>
      <div id='scroll_down_icon_container'>
        <span><%= t('scrolldown')%></span>
        <%=svg('scrolldown_icon')%>
      </div><!--End Scroll Down Icon Container-->
    </div>
  </div>
</div><!--End Adv Block-->
