<div id='adv_block'>
  <div class='cover'>
    <div class='icon'>
      <%= svg('horizontal_icon')%>
    </div>
    <span class='nav_title'><%= t('navigation.faq')%></span>
  </div>
</div><!--End Adv Block-->
