@import 'default_css';
@import 'aos/dist/aos';
body {
  font-family: 'Open Sans', sans-serif;;
  background-color: #EAEAEA;
  margin: 0px;
  font-size: 1.8ch;
  text-align: justify;
}
#container{
  position: relative;
}
#sub_container{
  margin: 0 auto;
  width: 90vw;
}
#footer{
  margin-top:100px;
}
h1{
  font-size: 4rem;
  font-weight: bolder;
}
h3{
  font-size: 5ch;
  font-weight: 600;
}
h4{
  font-size: 3ch;
  font-weight: 600;
}
a{
  color: #bcb8b9
}
.nav_title{
  opacity: 1;
  color: white;
  display: block;
  margin: 0px 2vw;
  font-size: 3ch;
}
#adv_block .cover .icon svg {
    width: 29vw;
    opacity: 1;
}
#scroll_down_icon_container{
  display:block;
  width: 4vw;
}
#scroll_down_icon_container span {
    font-size: 1vw;
    display: block;
    width: 4em;
    margin: 5px 0px;
}
#adv_block{
  width: 100vw;
  height: 100vh;
}

#adv_block .cover{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.49);
  align-items: center;
  justify-content: center;
}
