@import 'default_css';
@import 'aos/dist/aos';
body {
  font-family: 'Source Sans Pro', sans-serif;;
  background-color: #EAEAEA;
  margin: 0px;
}
#container{
  position: relative;
}
#sub_container{
  margin: 0 auto;
  width: 90vw;
}
#footer{
  margin-top:100px;
}
h3{
  font-size: 5ch;
  font-weight: 600;
}
h4{
  font-size: 3ch;
  font-weight: 600;
}
