// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#adv_block{
  background-image: image-url('home_adv');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
#file_download{
  margin-top: 100px;
}
// Advertisement block
#adv_block{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#adv_block #home_string_logo{
  margin-left: 15vw;
}
#adv_block #home_string_logo img{
  position: relative;
  display: block;
  width: 40vw;
  left: 100vw;
  animation-name: fade_image_from_right;
  animation-duration: 1s;
  -webkit-animation-name: fade_image_from_right; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-fill-mode: forwards;
}
#adv_block #home_adv_product{
  left: 100vw;
  position: relative;
}
#adv_block #home_adv_product img{
  width: 28vw;
}
.fade_out{
  animation-name: fade_image_out;
  animation-duration: 2s;
  -webkit-animation-name: fade_image_out; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-fill-mode: forwards;
}
.fade_in{
  animation-name: fade_image_in;
  animation-duration: 1s;
  -webkit-animation-name: fade_image_in; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-fill-mode: forwards;
}
@keyframes fade_image_in{
  form { left: 100vw }
  to { left: 0vw }
}
@keyframes fade_image_out{
  form { left: 0 }
  to { left: 100vw }
}
@keyframes fade_image_from_right{
  form { left: 100vw; }
  to {left: 0}
}
@-webkit-keyframes fade_image_from_right{
  form { left: 100vw; }
  to {left: 0}
}
// End Advertisement block
