#adv_block{
  background: image-url('news_adv');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#adv_block .cover div .nav_title{
  color: white;
  font-size: 3ch;
}
#sub_container .layer{
  display: flex;
  height: 26vw;
  border-bottom: 0.2ch solid #EAEAEA;
}
#sub_container .layer .product_pic{
  width: 40vw;
  overflow: hidden;
}
#sub_container .layer .product_pic img{
  width: 100%;
}
#sub_container .layer .article_container{
  width: 60vw;
  background-color: white;
  display: flex;
  align-items: center;
}
#sub_container #article_block{
  background-color: white;
  min-height: 75vh;
}
#sub_container #article_block article{
  padding: 5ch 10ch 0ch 10ch;
}
#sub_container #article_block article p{
  line-height: 3ch;
}
#sub_container #article_block h4{
  margin: 1ch 0 3ch 0;
}
#sub_container #article_block .article_info{
  padding: 5ch 0ch;
  display:flex;
  justify-content: flex-end;
  border-bottom: 1px solid #D4D4D4;
}
#sub_container #article_block .article_info .article_date{
  color: #D4D4D4;
}
#sub_container .layer .article_container article{
  padding: 9ch;
  line-height: 4ch;
}
#sub_container .layer .article_container article p{
  margin: 3vh 0em;
}
.product_link div{
  width: 200px;
  height: 35px;
  border: solid 1px #E5631F;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content:center;
}
.product_link div a{
  font-size: 0.9rem;
  display: flex;
  align-items: baseline;
  justify-content:center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.product_link svg{
  width: 1.3vw;
  height: 35px;
  margin: 0px 4px 0px 0px;
}
.product_link div:hover{
  background-color: #F26421;
}
.product_link div:hover a{
  color:white;
}
.product_link div:hover svg .clllsss123s-1{
  fill: white;
}

#adv_block .cover div .icon .cls-1{
  fill: white;
}
#scroll_down_icon_container svg{
  width: 4vw;
}
#scroll_down_icon_container{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5vh;
}
#adv_string_logo{
  height: 50%;
  display: flex;
  align-items: flex-end;
  position: relative;
  left: 100vw;
  animation-name: fade_image_from_right;
  animation-duration: 1s;
  -webkit-animation-name: fade_image_from_right; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-fill-mode: forwards;
}
.example{
  margin: 0 auto;
  width: 90vw !important;
  background: image-url('about_us/nav1') !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
@keyframes fade_image_from_right{
  form { left: 100vw; }
  to {left: 0}
}

#previous_page a{
  margin: 12vh auto;
  width: 18vw;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}
#previous_page .icon_container svg{
  width: 2vw;
}

#previous_page span{
  font-size: 1.5rem;
  margin-left: 0.5vw;
}
