#adv_block{
  background: image-url('news_adv');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
#adv_block .cover {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.19);
  align-items: center;
  justify-content: center;
}
#adv_block .cover div .icon{
  width: 50vw;
}
#adv_block .cover div .nav_title{
  color: white;
  font-size: 3ch;
}
#sub_container .layer{
  display: flex;
  height: 20vw;
  border-bottom: 0.2ch solid #EAEAEA;
}
#sub_container .layer .product_pic{
  width: 40vw;
  overflow: hidden;
}
#sub_container .layer .product_pic img{
  width: 100%;
}
#sub_container .layer .article_container{
  width: 60vw;
  background-color: white;
}
#sub_container .layer .article_container article{
  padding: 5ch 5ch 0 5ch;
  line-height: 4ch;
}

.product_link div{
  width: 200px;
  height: 35px;
  border: solid 1px #E5631F;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 2ch 0 0 5ch;
}
.product_link div a{
  display: flex;
  align-items: center;
  justify-content:center;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.product_link svg{
  width: 20px;
  height: 35px;
  margin: 0px 4px 0px 0px;
}
.product_link div:hover{
  background-color: #F26421;
}

.product_link div:hover svg .clllsss123s-1{
  fill: white;
}

#adv_block .cover div .icon .cls-1{
  fill: white;
}
#scroll_down_icon_container{
  height: 50%;
  display: flex;
  flex-direction: column;
  width: 4vw;
  align-items: flex-end;
  justify-content: flex-end;
}
#scroll_down_icon_container span{
  font-size: 12px;
  display: block;
  margin: 5px 0px;
}
#scroll_down_icon_container svg{
  width: 4vw;
}
#adv_string_logo{
  height: 50%;
  display: flex;
  align-items: flex-end;
  position: relative;
  left: 100vw;
  animation-name: fade_image_from_right;
  animation-duration: 1s;
  -webkit-animation-name: fade_image_from_right; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-fill-mode: forwards;
}
@keyframes fade_image_from_right{
  form { left: 100vw; }
  to {left: 0}
}
