<%= stylesheet_link_tag 'product_catelogs', media: 'all' %>
<div id='container'>
  <div id='navbar_container'>
    <%= render 'shared/troggle_navigation.html'%>
  </div><!-- End Sub Container-->
  <div id='download_info_container'>
    <div class='download_info'>
      <div class= 'title'>
        <h2>CSL330S</h2>
      </div>
      <div class= 'contant'>
        <span>Download CSL330S catalogs:</span>
      </div>
    </div>
  </div>
</div><!-- End Container-->
