<!DOCTYPE html>
<html>
  <head>
    <title>CreateSuccess</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id='container'>
      <div id='main_container'>
        <%= yield %>
      </div><!-- End Main Container-->
    </div><!-- End Container-->
  </body>
</html>
